@media (max-width: 480px) {
    .block-consultations {
        height: 200px;
    }

    .text-block {
        gap: 10px;
        padding: 15px 0;
    }

    .text-block h1 {
        font-size: 24px;
    }

    .text-block h2 {
        font-size: 16px;
    }

    .service-text {
        font-size: 17px;
    }

    .head{
        font-size: 28px;
    }

    .button-start{
        width: fit-content;
        padding: 20px 50px 20px 50px;
    }

    .table-service-text{font-size: 16px;}

    .price {font-size: 16px;}

    .sign .p{
        text-align: center;
    }

    .sign{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .enroll-text {
        font-size: 17px;
    }
}