{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
    <link rel="stylesheet" href="{% static 'services/css/services_adaptive.css' %}">
{% endblock %}

{% block content %}
    <style>
        .form-input-div {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 438px;
            line-height: 0%;
        }

        .form-input {
            border: 1.5px solid rgba(80, 80, 80, 1);
            border-radius: 12px;
            height: 35px;
        }

        .submit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 418px;
            padding: 30px 50px;
            background-color: #D8ECF3;
            border: 0 transparent;
            border-radius: 40px;
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }

        .submit-btn:hover {
            color: white;
            background-color: #8BC7DA;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        @media (max-width: 480px) {
            .form-input-div {width: 400px;}
            .submit-btn {width:max-content;}
        }
    </style>
    {% if mezoterapia_page_image %}
        <div class="block-consultations" style="background: no-repeat center/100% url('{{mezoterapia_page_image.image.url}}');">
            <div class="text-block">
                <h1>Мезотерапія</h1>
                <h2>Омолоджує і живить шкіру</h2>
            </div>
        </div>
        {% if service_bg_image %}
            <div class="main-text-block" style="background: url('{{service_bg_image.image.url}}');">
                <div class="available-prices">
                    <div class="available-prices-head">
                        <h1 class="head">Наявні прайси</h1>
                    </div>
                    <div class="available-prices-text service-text">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  <br>
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br>
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <br>
                        </p>
                    </div>
                </div>
                <div class="prices-main">
                    <div class="prices">
                        <h1 class="head">Ціни</h1>
                        <div class="prices-table">
                            <table>
                                {% for service3 in all_service3 %}
                                    <tr>
                                        <td><div class="table-service-text">{{service3.name}}
                                        </div></td>
                                        <td><div class="price">{{service3.price}}</div></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="for-need">
                    <div>
                        <h1 class="head">Для чого це потрібно</h1>
                    </div>
                    <div class="for-need-text">
                        <p class="available-prices-text service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  <br>
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br>
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <br>
                     </p>
                    </div>
                </div>
                <div class="advantages">
                    <div>
                        <h1 class="head">Які переваги</h1>
                    </div>
                    <div class="advantages-text">
                        <p class="available-prices-text service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  <br>
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br>
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <br></p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="sign">
            <p style="font-size: 24px;">Запишіться на прийом, якщо маєте потребу у наших послугах</p>
            <button type="button" class="btn button-start" data-bs-toggle="modal" data-bs-target="#exampleModal">Записатись</button>
        </div>
    {% endif %}
{% endblock %}