{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
    <style>
        .form-input-div {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 438px;
            line-height: 0%;
        }

        .form-input {
            border: 1.5px solid rgba(80, 80, 80, 1);
            border-radius: 12px;
            height: 35px;
        }

        .submit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 418px;
            padding: 30px 50px;
            background-color: #D8ECF3;
            border: 0 transparent;
            border-radius: 40px;
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }

        .submit-btn:hover {
            color: white;
            background-color: #8BC7DA;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
    </style>
    {% if consultations_page_image %}
        <div id="block-consultations" style="background: no-repeat center/100% url('{{consultations_page_image.image.url}}');">
            <div id="text-block">
                <h1 style="font-size: 48px;">Консультації</h1>
                <h2 style="font-size: 18px;">Багато консультацій з різних тем та проблем</h2>
            </div>
        </div>
        {% if consultations_bg_image %}
            <div id="main-text-block" style="background: url('{{consultations_bg_image.image.url}}');">
                <div class="available-prices">
                    <div class="available-prices-head">
                        <h1 id="head">Наявні прайси</h1>
                    </div>
                    <div class="available-prices-text service-text">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  <br>
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br>
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <br>
                        </p>
                    </div>
                </div>
                <div class="prices-main">
                    <div class="prices">
                        <h1 id="head">Ціни</h1>
                        <div class="prices-table">
                            <table>
                                {% for consultation in all_consultations %}
                                    <tr>
                                        <td><div class="text">{{consultation.name}}
                                        </div></td>
                                        <td><div class="price">{{consultation.price}}</div></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="need-info">
                    <div>
                        <h1 id="head">Які аналізи необхідно здати</h1>
                    </div>
                    <div class="need-info-main">
                        <p class="need-info-text1 service-text">УЗД органів черевної порожнини та нирок<br>
                            Загальний аналіз крові розгорнутий <br>
                            Загальний білок крові<br>
                            Феррітін<br>
                            Біохімія крові: <br>
                            обов’язково: АЛТ, АСТ, лужна фосфатаза, ГГТ, білірубін прямий, альфа амілаза, з-реактивний білок ультрачутливий, сечова кислота <br>
                            Інсулін<br>
                            Гоммоцистеїн <br>
                            Ліпідний профіль: холестерин: лПНП та ЛПВЩ, тригліцериди крові <br>
                            Вітамін Д: 25 (он) Д <br>
                            Фолієва кислота <br>
                            Пролактин та кортизол. <br>
                            Якщо є алергія: єозинофільний катіонний білок та імуноглобулін Е загальний, ПЦР переносимість лактози <br>
                        </p>
                        <p class="need-info-text2 service-text">Якщо у вас вже є якісь із результатів перерахованих аналізів і, на момент консультації вони будуть не старші 2 місяці, тоді повторно передавати не потрібно. Також, будь-які додаткові аналізи ви можете взяти їх з собою.

                        </p>
                    </div>
                </div>
                <div class="for-need">
                    <div>
                        <h1 id="head">Для чого це потрібно</h1>
                    </div>
                    <div class="for-need-text">
                        <p class="for-need-text1 service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  <br>
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br>
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <br>
                     </p>
                    </div>
                </div>
                <div class="advantages">
                    <div>
                        <h1 id="head">Які переваги</h1>
                    </div>
                    <div class="advantages-text">
                        <p class="advantages-text1 service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  <br>
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br>
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <br></p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="sign">
            <p style="font-size: 24px;">Запишіться на прийом, якщо маєте потребу у наших послугах</p>
            <button type="button" class="btn button-start" data-bs-toggle="modal" data-bs-target="#exampleModal">Записатись</button>
        </div>
    {% endif %}
{% endblock %}