@media (max-width: 480px) {
    header {
        padding: 8px 10px;
        justify-content: space-between;
    }

    body {max-width: 480px;}
    
    header #logo {
        width: 70px;
        height: 70px;
    }

    .links {display: none;}

    #burger-menu-btn {
        display: block;
        visibility: visible;
    }

    footer {
        background-color: #0B0B0B;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        padding: 20px 10px;
    }

    footer iframe {width: 100%;}
    .footer-p.text {font-size: 18px;}

    #footer-all-links-block {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 100px;
        line-height: 0%;
    }

    #footer-logo {display: none;}

    #burger-menu-logo {
        width: 70px;
        height: 70px;
    }

    .burger-menu-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        gap: 20px;
        line-height: 100%;
    }

    .brg-links-text {font-size: 24px;}

    .burger-menu-body button {
        border: transparent;
        background-color: transparent;
        font-size: 24px;
        padding: 0;
    }

    #footer-info-block {
        flex-direction: column;
        padding: 20px 10px;
    }

    .doctor-specialty h2 {
        font-size: 24px;
    }

    #main-page-logo {
        width: 100px;
        height: 100px;
    }

    .main-page.h1 {font-size: 24px;}

    #main-block {
        padding: 10px;
        height: fit-content;
        align-items: flex-start;
    }

    #header-info-block {padding: 20px 10px;}
    #logo-text {gap: 20px;}
    #clinic-info p {width: 100%;}

    #prices-cards {
        flex-wrap: wrap;
        gap: 20px;
    }

    #doctor-info {
        align-items: flex-start;
        padding: 10px;
        gap: 20px;
    }

    #about-doctor {
        flex-direction: column;
        align-items: flex-start;
    }

    .vertborder {
        height: 3px;
        width: 350px;
        border-left: transparent;
        border-top: 2px solid #000;
        margin: auto;
    }

    #watch-specialty {gap: 10px;}

    #watch-specialty p {width: 100%;}

    #name-specialty {
        width: 100%;
        gap: 5px;
    }

    .header-text.specialty {font-size: 32px;}
    #name-text p {font-size: 20px;}

    #sertificates {
        justify-content: center;
        padding: 0;
    }

    #consultation-block {
        align-items: flex-start;
        height: fit-content;
        padding: 0 10px;
    }

    #consultation-text {width: 100%;}
    #consultation-text h1 {font-size: 24px;}
    #consultation-text p {font-size: 18px;}
    #consultation-types {
        flex-direction: column;
        gap: 20px;
    }

    .c-type {
        width: 100%;
        padding: 20px;
    }
    
    .c-type h2 {font-size: 24px;}
    .c-type p {font-size: 16px;}

    .adaptive-slider {height: 300px;}

    .carousel-indicators {
        display: none;
        visibility: hidden;
    }

    .main-price-card {width: 360px;}
    #prices-block {padding: 0;}
    #footer-info-text-block {flex-direction: column;}
}

@media (min-width: 600px) and (max-width: 1200px) {
    body {
        max-width: 1200px;
    }

    #footer-logo {display: none;}

    header #logo {
        width: 70px;
        height: 70px;
    }

    #burger-menu-logo {
        width: 70px;
        height: 70px;
    }

    .links {display: none;}

    #burger-menu-btn {
        display: block;
        visibility: visible;
    }

    .burger-menu-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        gap: 20px;
        line-height: 100%;
    }

    .brg-links-text {font-size: 24px;}

    .burger-menu-body button {
        border: transparent;
        background-color: transparent;
        font-size: 24px;
        padding: 0;
    }

    #consultation-block {height: 600px;}
    
    .c-type h2 {font-size: 24px;}
    .c-type p {font-size: 14px;}
    #consultation-text h1 {font-size: 32px;}
    #consultation-text p {font-size: 18px;}
    .slider-img {height: 600px;}
    .prices-text {font-size: 16px;}
    .prices-header-text {font-size: 22px;}

    .main-price-card {
        width: 280px;
        justify-content: space-between;
    }

    #prices-cards {
        flex-wrap: wrap;
        gap: 30px;
    }

    .price-card-img {height: 280px;}

    footer iframe {width: 300px;}
    #about-doctor {align-items: flex-start;}

    #watch-specialty {
        height: 100%;
        width: 100%;
    }
    #name-specialty {
        height: 100%;
        width: 100%;
    }
    #watch-specialty p {font-size: 18px;}
    .vertborder {height: 400px;}
}