<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <script src="{% static 'main/js/base.js' %}" defer></script>

    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        {% if logo %}
            <img src="{{logo.image.url}}" alt="logo" id="logo">
        {% endif %}

        <div class="links">
            <a href="{% url 'main_page' %}" class="link header-text">Головна</a>
            
            <div id="service-link">
                <p class="header-text">Послуги</p>
                {% if service_arrow %}
                    <img src="{{service_arrow.image.url}}" alt="service-arrow">
                {% endif %}
            </div>
            


            <a href="{% url 'contacts_page' %}" class="link header-text">Контакти</a>
        </div>

        <div class="links">
            {% if not signed_in %}
                {% if show_sign_in %}
                    <a href="{% url 'auth_page' %}" class="link header-text">Увійти</a>
                {% endif %}
            {% endif %}

            {% if signed_in %}
                {% if show_sign_in %}
                    {% if username %}
                        <a href="{% url 'auth_page' %}" class="link">{{username}}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            <button>Записатись</button>
        </div>

        <div class="services-menu">
            <a href="{% url 'service_first_page' %}" class="link">Онкодерматологія</a>
            <a href="{% url 'service_second_page' %}" class="link">Кріодеструкція</a>
            <a href="{% url 'service_third_page' %}" class="link">Мезотерапія</a>
            <a href="{% url 'consultation_page' %}" class="link">Консультація</a>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% if show_footer %}
        <footer>
            <div id="footer-links-block">
                <div class="footer-info-text">
                    <p class="footer-h">Меню</p>
                    <div class="footer-links menu">

                        <a href="{% url 'main_page' %}" class="footer-link">Головна</a>

                        <div id="service-link-footer">
                            <p class="footer-link">Послуги</p>
                            {% if service_arrow_footer %}
                                <img src="{{service_arrow_footer.image.url}}" alt="service-arrow-footer">
                            {% endif %}
                        </div>

                        <a href="{% url 'contacts_page' %}" class="footer-link">Контакти</a>
                    </div>
                </div>

                <div class="footer-info-text">
                    <p class="footer-h">Зв'язок</p>
                    <div class="footer-links">
                        <p class="footer-p">Інна Прохоренко</p>

                        <div class="linkage">
                            {% if phone %}
                                <img src="{{phone.image.url}}" alt="phone" class="footer-icons">
                            {% endif %}
                            <p class="footer-p">+380 97 517 63 83</p>
                        </div>
                        
                        <div class="linkage">
                            {% if location %}
                                <img src="{{location.image.url}}" alt="location" class="footer-icons">
                            {% endif %}
                            <p class="footer-p">м. Дніпро вул. Сімферопольська 2к</p>
                        </div>
                        
                        <div class="linkage">
                            {% if email %}
                                <img src="{{email.image.url}}" alt="email" class="footer-icons">
                            {% endif %}
                            <p class="footer-p">...@gmail.com</p>
                        </div>
                        
                        <div class="linkage">
                            {% if instagram %}
                                <img src="{{instagram.image.url}}" alt="instagram" class="footer-icons">
                            {% endif %}
                            <p class="footer-p">Інстаграм</p>
                        </div>
                        
                    </div>
                </div>

                <div class="services-menu-footer">
                    <a href="{% url 'service_first_page' %}" class="link">Онкодерматологія</a>
                    <a href="{% url 'service_second_page' %}" class="link">Кріодеструкція</a>
                    <a href="{% url 'service_third_page' %}" class="link">Мезотерапія</a>
                    <a href="{% url 'consultation_page' %}" class="link">Консультація</a>
                </div>
            </div>

            {% if logo %}
                <img src="{{logo.image.url}}" alt="logo" id="footer-logo">
            {% endif %}
        </footer>
    {% endif %}
</body>
</html>