{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_base_adaptive.css' %}">
{% endblock %}

{% block content %}
    <style>
        .carousel-item {
            height: 700px;
        }

        .carousel-caption {
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            height: fit-content;
        }

        .carousel-caption h5 {
            font-size: 48px;
        }

        .carousel-caption p {
            font-size: 18px;
        }

        @media (max-width: 480px) {
            .form-input-div {width: 400px;}
            .submit-btn {width:max-content;}
        }
    </style>

    {% if main_page %}
        <div id="main-block" style="background: no-repeat center/100% url('{{main_page.image.url}}');">
            <div id="header-info-block">
                <div id="logo-text">
                    {% if main_page_logo %}
                        <img src="{{main_page_logo.image.url}}" alt="main-page-logo" id="main-page-logo">
                        <h1 class="main-page h1">
                            <span>Клініка</span>
                            <span>Доктора</span>
                            <span>"Прохоренко"</span>
                        </h1>
                    {% endif %}
                </div>

                <div id="clinic-info">
                    <p class="doctor-specialty-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Tenetur exercitationem consequatur, dolores, et architecto pariatur iste, nisi nam at dicta deserunt? 
                        Reiciendis et mollitia consequatur libero ipsum error ad deserunt.</p>
                </div>
            </div>

            <div id="footer-info-block">
                <div class="doctor-specialty">
                    <h2 class="main-page">Інтергативний лікар</h2>
                    <p class="doctor-specialty-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="doctor-specialty">
                    <h2 class="main-page">Трихолог</h2>
                    <p class="doctor-specialty-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="doctor-specialty">
                    <h2 class="main-page">Дерматолог</h2>
                    <p class="doctor-specialty-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="doctor-specialty">
                    <h2 class="main-page">Нутрициолог</h2>
                    <p class="doctor-specialty-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if prices_background %}
        <div id="prices-block" style="background: url('{{prices_background.image.url}}');">
            <h1 id="prices-header">Послуги клініки</h1>
            <div id="prices-cards">
                <div class="main-price-card">
                    <div>
                        {% if onkoderm %}
                            <img src="{{onkoderm.image.url}}" alt="onkoderm" class="price-card-img">
                        {% endif %}
                        <h2 class="prices-header-text">Онкодерматологія</h2>
                        <p class="prices-text">Діагностика та лікування раку та запалення шкіри, сильного свербіння</p>
                    </div>
                    <a href="{% url 'service_first_page' %}"><button class="small-dark-btn">Детальніше</button></a>
                </div>

                <div class="main-price-card">
                    {% if kriodest %}
                        <img src="{{kriodest.image.url}}" alt="kriodest" class="price-card-img">
                    {% endif %}
                    <div>
                        <h2 class="prices-header-text">Кріодеструкція</h2>
                        <p class="prices-text">Видалення новоутворень на шкірі за допомогою рідкого азоту</p>
                    </div>
                    <a href="{% url 'service_first_page' %}"><button class="small-dark-btn">Детальніше</button></a>
                </div>

                <div class="main-price-card">
                    {% if mezoter %}
                        <img src="{{mezoter.image.url}}" alt="mezoter" class="price-card-img">
                    {% endif %}
                    <div>
                        <h2 class="prices-header-text">Мезотерапія</h2>
                        <p class="prices-text">Стимулює ріст волосся та запобігає його інтенсивному випадінню</p>
                    </div>
                    <a href="{% url 'service_third_page' %}"><button class="small-dark-btn">Детальніше</button></a>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="carouselExampleIndicators" class="carousel slide adaptive-slider" style="box-shadow:  0 0 30px #000; z-index: 8;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% if location_slide %}
                    <img src="{{location_slide.image.url}}" class="d-block w-100 adaptive-slider" alt="location-slide">
                {% endif %}
                <div class="carousel-caption d-none d-md-block">
                    <h5>Локація</h5>
                    <p>У самому центрі міста</p>
                    <a href="{% url 'contacts_page' %}"><button class="light-btn">Детальніше</button></a>
                </div>
            </div>
            <div class="carousel-item">
                {% if fast_service_slide %}
                    <img src="{{fast_service_slide.image.url}}" class="d-block w-100 adaptive-slider" alt="fast-service-slide">
                {% endif %}
                <div class="carousel-caption d-none d-md-block">
                    <h5>Швидкий сервіс</h5>
                    <p>Швидке та зручне обслуговування</p>
                    <a href="{% url 'service_first_page' %}"><button class="light-btn">Детальніше</button></a>
                </div>
            </div>
            <div class="carousel-item">
                {% if kids_consultation_slide %}
                    <img src="{{kids_consultation_slide.image.url}}" class="d-block w-100 adaptive-slider" alt="kids-consultation-slide">
                {% endif %}
                <div class="carousel-caption d-none d-md-block">
                    <h5>Дитячі консультації</h5>
                    <p>Можливість провести консультацію з вашою дитиною</p>
                    <a href="{% url 'consultation_page' %}"><button class="light-btn">Детальніше</button></a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev adaptive-slider" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next adaptive-slider" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% if about_doctor_bg %}
        <div id="doctor-info" style="background: url('{{about_doctor_bg.image.url}}');">
            <div id="about-doctor">
                <div id="watch-specialty">
                    <h2>Навчання<br> Досвід</h2>
                    <div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus beatae facere facilis, eum recusandae dolorum expedita ab velit numquam laboriosam vel aperiam incidunt distinctio blanditiis. Earum cumque deserunt laudantium itaque.</p>
                        <a href="{% url 'sertificates_page' %}"><button class="dark-btn">Переглянути</button></a>
                    </div>
                </div>
                
                <div class="vertborder"></div>

                <div id="name-specialty">
                    <div id="name-text">
                        <h2 class="header-text specialty">Прохоренко Інна Валеріївна</h2>
                        <p>Лікар першої категорії із досвідом роботи понад 11 років</p>
                    </div>

                    <div id="specialty-list">
                        <div class="hints">
                            <span class="dot"></span>
                            <p class="hints-text">Дерматовенеролог</p>
                        </div>
                        <div class="hints">
                            <span class="dot"></span>
                            <p class="hints-text">Дерматолог - онколог</p>
                        </div>
                        <div class="hints">
                            <span class="dot"></span>
                            <p class="hints-text">Трихолог</p>
                        </div>
                        <div class="hints">
                            <span class="dot"></span>
                            <p class="hints-text">Подолог</p>
                        </div>
                        <div class="hints">
                            <span class="dot"></span>
                            <p class="hints-text">Косметолог</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="sertificates">
                <div class="temporarily-img"></div>
                <div class="temporarily-img"></div>
                <div class="temporarily-img"></div>
                <div class="temporarily-img"></div>
                <div class="temporarily-img"></div>
                <div class="temporarily-img"></div>
            </div>
        </div>
    {% endif %}

    {% if consultations_bg %}
        <div id="consultation-block" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat center/100% url({{consultations_bg.image.url}});">
            <div id="main-text">
                <div id="consultation-text">
                    <h1>Консультації</h1>
                    <p>Різноманітні консультації - первинні, повторні, для усіх вікових груп. Динамічне спостереження, склеротерапія, консультація з трихоскопією. Введення препарату з консультацією</p>
                </div>
                <a href="{% url 'consultation_page' %}"><button class="light-btn">Переглянути</button></a>
            </div>

            <div id="consultation-types">
                <div class="c-type">
                    <h2>Нутріциолога</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="c-type">
                    <h2>Дерматолога</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="c-type">
                    <h2>Трихолога</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}